:root {
    --primary-color: #FF9549;
    --primary-hover-color: #FE8630;
    --secondary-color: #939697;
    --secondary-hover-color: #252C2C;
    --primary-text-color: #181818;
    --white-color: #FFFFFF;
    --primary-dark-color: #1C2121;
}